<div class="sticky_share_menu a2a_kit">
	<div>
		<h5>{{ 'PARTAGE'|trans }}</h5>
		<ul>
			<li><a class="a2a_button_twitter"><img src="{{ asset('assets/img/icon_twitter.svg') }}" alt="Share to twitter"></a></li>
			<li><a class="a2a_button_facebook"><img src="{{ asset('assets/img/icon_fb.svg') }}" alt="Share to facebook"></a></li>
			<li><a href="{{ app.request.uri }}" target="_blank" id="stickyShareButton" title="Copier URL"><img src="{{ asset('assets/img/icon_link.svg') }}" alt="Copier URL"></a></li>
		</ul>
	</div>

</div>
<!-- AddToAny BEGIN -->
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	<!-- AddToAny END -->