{% extends 'base.html.twig' %}

{% block title %}
	{{ '2 · Choisir LES MOTS: Sucess'|trans }}
{% endblock %}
{% set page_title = '2 · Choisir LES MOTS.'|trans %}

{% block body %}
	<section class="game_one_success orange_bg game_two_sucess">
		<img class="bottom_left_bg" src="{{ asset('assets/img/bg_home_talkAoutIt.png') }}" alt="RePéRER LES SIGNES.">

		<div class="container">
			<div class="game_one_hero">
				<h1>{{ 'Félicitations, tu as SU '|trans }} <span class="green">{{ 'Choisir LES MOTS'|trans }}</span> </h1>
				<p>{{ "Tu as maintenant les clefs pour parler avec ceux qui t'entourent et montrer qu'ils peuvent compter sur toi.
Tu vas pouvoir les accompagner pour trouver l'aide dont ils ont besoin. Continue l'expérience et découvre les ressources utiles.  "|trans }}</p>

				<div class="ready_btn">
					<a href="{{ path('game_two_article') }}" class="btn btn_orange">{{ 'Continuer'|trans }}</a>
                    {% include 'partials/components/_sticky_menu_share.html.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
