<section id="game_two_part_one" class="orange_bg game_two">
	<div class="chat_wrapper">
		<div class="new_message_box">
			<p>{{ 'Nouveaux messages'|trans }}</p>
		</div>

		<div id="avatar_box" class="avatar_box">
			<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
			<p>{{ 'Vous avez créé une nouvelle conversation'|trans }}</p>
		</div>

		<div class="messages_wrapper">
			<div id="message_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div id="response_box" class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>

			<div id="right_answer_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div id="seen_box" class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>

			<div id="message_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>
			<div id="message_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>
			<div id="message_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>
			<div id="message_box" class="message message_box_wrapper hidden_content">
				<div class="message_box">
					<p></p>
				</div>

				<div class="hidden_content seen_box">
					<div class="avatar_icon">
						<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
					</div>
					<p>{{ 'vu'|trans }}</p>
				</div>
			</div>

			<div class="response message_box_wrapper hidden_content">
				<div class="avatar_icon">
					<img class="" src="{{ asset('assets/img/game_two_avatar.png') }}" alt="Choisir LES MOTS">
				</div>

				<div class="response_box">
					<p></p>
				</div>
			</div>
		</div>

		<div id="writing_dots" class="hidden_content">
			<p>{{ 'En train d’écrire'|trans }}</p>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>

		<div class="chat_box">
			<div class="chat_box_container">
				<input type="text" name="chat" id="chat" placeholder="{{ 'Réponds ...'|trans }}">
				<span></span>
			</div>
		</div>
	</div>
</section>
