<section class="single_success_section container">
	<h1 class="title">{{ 'Oser en parler'|trans }}</h1>
	<h1 class="subtitle">{{ 'Des lignes d’écoute pour mettre des mots sur des maux'|trans }}</h1>
	
	<div class="image_wrapper image_two">
		<img src="{{ asset('assets/img/game3_pool_2.png') }}" alt="ligne d’écoute">
	</div>
	
	<div class="single_success_description">
		<p>{{ 'Elles s’adressent à toute personne qui ressent le besoin de parler. Elles sont gratuites et anonymes.'|trans }}</p>
		<p>{{ 'Ces appels peuvent permettre d’apaiser des tensions, des craintes, des angoisses, des
moments d’agressivité, ou de mettre un peu d’ordre dans ses pensées.  Savoir qu’une
personne saura vous écouter, prendre en compte ce que vous ressentez, sans jugement, permet de soulager pendant quelques temps ses difficultés.
Si cela est nécessaire, une orientation vers des professionnels en santé mentale pourra
alors être proposée.'|trans }}</p>
	</div>

	<div class="buttons_groupe">
		<a href="{{ path('game_three_article') }}/#oser_en_parler" class="btn btn_bg_colored" target="_blanc">{{ 'Brave together vous recommande'|trans }}</a>
		<a href="{{ path('game_three_game') }}" class="btn btn_pink single_sucess_btn">{{ 'CONTINUER'|trans }}</a>
	</div>
</section>